/* body {
  font-family: 'Open Sans Condensed', sans-serif;
} */

.header {
  padding-top: 50px;
  background-color: #020412;
}

.menu {
  list-style-type: none;
  line-height: 25px;
  margin: 0;
  padding: 0;
  
}

.menu li {
  display: inline;
  margin-left: 1.5rem;
}

.menu a {
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.85);
  text-decoration: none;
  font-size: 18px;
}

.menu a:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.85);
}

.first-block {
  overflow-x: hidden;
  background-color: #020412;
  position: relative;
}

.earth-img {
  position: absolute;
  top: 8%;
  left: 40%;
  width: 1137px;
  height: 1137px;
  background-size: contain;
  background-image: url("images/earth.png");
}

.img-background {
  width: 100%;
  height: 98%;
  background-color: #020412;
  background: linear-gradient(327.34deg, rgba(2, 4, 18, 0.97) 60.41%, rgba(2, 4, 18, 0) 99.32%);
}

.rocket-img {
  position: absolute;
  left: 60%;
  top: 60%;
}

.offer {
  position: relative;
}

.advantages {
  position: relative;
}

.offer-title {
  margin-top: 82px;
}

.offer-title h1{ 
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
  color: #ffffff;
}

.offer-title span {
  padding-left: 1px;
  padding-right: 8px;
  border-bottom: 3px solid #e9aa09;
}

.offer-description {
  margin-top: 17px;
}

.offer-description p{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.offer-description span {
  color: #ffffff;
}

.offer-list {
  margin-top: 11px;
  color: rgba(255, 255, 255, 0.85);
}

.offer-list i {
  color: #e9aa09;
}

.offer-footer {
  margin-top: 40px;
}

.offer-footer .social-media-icons {
  position: relative;
  float: right;
  top: 30px;
}

.offer-footer .icon{
  margin-left: 15px;
}

.offer-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #e9aa09;
  border: none;
  border-radius: 3px;
  text-decoration: none;
}

.offer-line {
  margin-top: 71px;
}
.offer-line hr{
  width: 25%;
  border-bottom: 1px solid rgba(61, 62, 48, 0.5);
  float: left;
}

.advantages-header-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 82px;
}

.advantages-header-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.advantages-header-line {
  padding-bottom: 1.5em;
}

.advantages-header-line hr{
  width: 15%;
  border-bottom: 3px solid #e9aa09;
  float: left;
}

.advantages-block {
  margin-top: 66px;
  width: 70%;
}

.gap {
  padding: 20px;
}

.advantages-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

.advantages-description {
  margin-top: 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.advantages-line {
  margin-top: 10em;
  margin-bottom: 5em;
}
.advantages-line hr{
  width: 50%;
  border-bottom: 1px solid rgba(61, 62, 48, 0.5);
  float: center;
}

.second-block {
  background-color: #020412;
  padding-bottom: 50px;
}

.reviews-header-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 82px;
}

.reviews-header-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.reviews-header-line {
  padding-bottom: 1.5em;
}

.reviews-header-line hr{
  width: 10%;
  border-bottom: 3px solid #e9aa09;
  float: left;
}

.reviews-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  margin-bottom: 7em;
}

.reviews-footer {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #FFF9F9;
}

.reviews-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reviews-block-gallery {
  display: inline-block;
  width: 75%;
}

.arrow {
  width: 7%;
  padding: 1%;
  display: inline-block;
}

.arrow img {
  width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  .reviews-image {
    display: none;
  }
}

.reviews-img {
  position: absolute;
  bottom: 25%;
  max-width: 100%;
  height: auto;
}

.third-block {
  background-color: #08101B;
}

.request-header-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 82px;
}

.request-header-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.request-header-line {
  padding-bottom: 1.5em;
}

.request-header-line hr{
  width: 15%;
  border-bottom: 3px solid #e9aa09;
  float: left;
}

.request-form input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-sizing: border-box;
  border-radius: 3px;
  background-color: #08101B;
}

.request-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.request-checkbox+label {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: rgba(255, 252, 252, 0.6);
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.request-checkbox+label::before {
  font-size: 30px;
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.request-checkbox:checked+label::before {
  border-color: #e9aa09;
  background-color: #e9aa09;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.request-form img {
  position: absolute;
  top: 13px;
  left: 25px;
}

.request-button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  background-color: #e9aa09;
  border: none;
  border-radius: 3px;
  text-decoration: none;
}

.fourth-block {
  background-color: #020412;
}

.cases {
  padding-bottom: 77px;
}

.cases-header-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  padding-top: 82px;
}

.cases-header-description {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  margin-top: 20px;
}

.cases-header-line {
  padding-bottom: 1.5em;
}

.cases-header-line hr{
  width: 15%;
  border-bottom: 3px solid #e9aa09;
  float: left;
}

.cases-navbar {
  display: flex;
  justify-content: center;
}

.cases-navbar div {
  margin-right: 20px;
  padding: 1%;
  background-color: #141C2850;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  color: #6B7076;
  border-radius: 5% 5% 0 0;
  border-bottom: 2px solid rgba(181, 183, 187, 0.1);
}

.cases-navbar div:hover {
  color: #ffffff;
  cursor: default;
  border-bottom: 0;
}

.cases-gallery {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #141C2850;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.cases-images {
  display: inline-flex;
  width: 80%;
}

.cases-block-1 {
  position: relative;
  width: 50%;
  height: auto;
  padding: 5px;
}

.cases-block-1:hover>.img-1-info {
  display: block;
}

.img-1-info {
  width: 100%;
  height: auto;
  display: none;
  position: absolute;
  top: 80%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
}

.img-1-info p{
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 80%;
  font-weight: 600;
  color: #FFFFFF;
  text-align: center;
}

.cases-block-2 {
  display: inline-flex;
  flex-wrap: wrap;
  width: 50%;
  height: auto;
}

.cases-img-3 {
  width: 60%;
}

.cases-img-4 {
  width: 40%;
}

.cases-images img {
  width: 100%;
  height: 100%;
}

.cases-block-2 div {
  padding: 5px;
  height: 50%;
}

.fifth-block {
  background-color: #020412;
  overflow-x: hidden;
  overflow-y: hidden;
}

.map {
  margin: 0 auto;
  position: relative;
  width: 1280px;
  height: 549px;
}

.map-info {
  position: absolute;
  top: 15%;
  left: 6.5%;
  width: 350px;
  height: 400px;
  background: #08101B;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.map-info-list {
  padding-top: 25px;
}

.map-info-list img{
  margin-right: 5px;
}

.map-info-list li{
  list-style-type: none;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.map-info .social-media-icons {
  margin-top: 10%;
  float: right;
}

.map-info .social-media-icons a{
  margin-right: 10px;
}

footer {
  background-color: #08101B;
}

.footer-info-top {
  padding-top: 30px;
  display: flex;
  border-bottom: 1px solid #ffffff10;
}

.footer-info-top p {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.footer-info-top-1 {
  flex-grow: 20
}

.footer-info-top-1 div{
  margin-bottom: 1rem;
}

.footer-info-top-2 {
  flex-grow: 15
}

.footer-info-top-3 {
  flex-grow: 15
}

.footer-info-top-4 {
  flex-grow: 50;
}

.footer-info-top-4 button{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #ffffff;
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  margin-bottom: 1rem;
  background-color: #ffffff00;
  border: 1px solid #ffffff;
  border-radius: 3px;
  text-decoration: none;
}

.footer-info-top-4 p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
}

.footer-info-top-4 div{
  float: right;
}

.footer-info-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
}

.footer-info-bottom p{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #ffffff;
  cursor: default;
}

.footer-info-bottom-1 {
  flex-grow: 15;
}

.footer-info-bottom-2 {
  flex-grow: 15;
}

.footer-info-bottom-3 {
  flex-grow: 20;
}


.footer-info-bottom-4 div{
  margin-left: 40px;
}

.footer-info-bottom-5 {
  flex-grow: 25;
}

.footer-info-bottom-5 p{
  float: right;
}